<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bxkj.commodity.mapper.IndexMapper">
    <!--查询商品信息列表-->
    <select id="queryCommodityInfo" resultType="com.bxkj.commodity.entity.BxCommodityCommon">
        SELECT
          *
        FROM
          bx_commodity
    </select>
</mapper>